<section class="body_menu_hamburguer" ></section>
<div class="menu_hamburguer" id="menu_hamburguer">
  
  <ul>
      <li class="lista_label_hambuerguer">
        Variedades
         <ul >
          <a href="variedades.html"> <li>Eletrônicos</li></a>
          <a href="variedades.html"> <li>Móveis</li></a>
          <a href="variedades.html"><li>Roupas</li></a>
         </ul>
      </li>

      <li class="lista_label_hambuerguer" >Espaço pet
          <ul >
            <a href="pet.html"> <li>Gatos</li></a>
            <a href="pet.html"><li>Cachorros</li></a>
            <a href="pet.html"><li>Diversos</li></a> 
          </ul>
      </li>

      <li class="lista_label_hambuerguer" >Farmácia
          <ul >
            <a href="farmacia.html"><li>Remédios</li></a>
            <a href="farmacia.html"><li>Beleza</li></a>
            <a href="farmacia.html"><li>Diversos</li></a>
          </ul>
      </li>

  </ul>

</div>