.Articos_Compras{
/* background-color: aqua;*/
  margin-left: 5%;
  width: 90%;
  display: flex;
  margin-top: 5%;
  border: solid 1px #592B92;
  border-radius: 10px;
}

.Primeiro_Bloco_Superior{
  width: 75%;
  margin-left: 15%;
/*background-color: rgb(47, 6, 18);*/
}

.Primeiro_Bloco_Superior img{
  width: 100%;
  height: 350px;
  border-radius: 10px;  
}

.Segundo_Bloco{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 15%;
  width: 75%;
/* background-color: rgb(48, 165, 42);*/
}

.Segundo_Bloco img{
  width: 35%;
  padding: 2%;
  border-radius: 15px;
}

.Primeiro_Artico_Compras{
width: 50%;
padding-top: 2%;
padding-bottom: 2%;
padding-left: -15%;
padding-right: 2%;
margin-left: 1%;
text-align: center;
}

.Segundo_Artico_Compras{
  width: 30%;
  height: 50%;
  padding-top: 5%;
  font-family: Arial;
}

.Segundo_Artico_Compras p{
  text-align: center;
  padding-right: 20%;
  
}

.Segundo_Artico_Compras h3{
  text-align: center;
  padding-right: 20%;
  padding-bottom: 5%;
  align-self: flex-start;
  
}

.Terceiro_Artico_Compras{
  width: 35%;
  padding-top: 5%;
  margin-left: 10%;
  border-radius: 15px; 
  text-align: center;
  font-family: Arial;
  background: rgb(232 249 248);
}

.Terceiro_Artico_Compras h3{
  padding-bottom: 10%;

}

.Terceiro_Artico_Compras p {
  padding-bottom: 10%;
  font-size: 200%;
}

.Terceiro_Artico_Compras button{
  width: 100%;
  height: 100%;
  margin-top: 6%;
  padding: 2%;
  background-color: #592B92;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 0.7px solid white;
  font-weight:700;
  font-size: 120%;
  margin-right: 17%;
}

.Terceiro_Artico_Compras i {
  padding: 10%;
  font-size: 300%;
  color: #592B92;
}


.Terceiro_Artico_Compras button:hover {
  background-color: rgb(232 249 248);
}


@media (max-width:767px) and (min-width:195px) {

  .Articos_Compras{
    flex-direction: column;
    align-items: center;

  }

  .Primeiro_Artico_Compras{
    width: 100%;
    padding-top: 4%;
    padding-left: 0%;
    padding-right: 6%;
    margin-left: 0%;
    margin-right: 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
  }

  .Primeiro_Bloco_Superior img{
  width: 100%;
  
  }

  .Segundo_Artico_Compras{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-left: 0%;
    text-align: center;
    
  }

  .Segundo_Artico_Compras p{
    padding-right: 0%;
    
  }
  
  .Segundo_Artico_Compras h3{
    padding-right: 0%;
    padding-bottom: 2%;
    
  }

  .Terceiro_Artico_Compras{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
    
  }

  .Terceiro_Artico_Compras button {
    margin-bottom: 20%;
    font-size: 150%;
  }

}

@media (max-width:3000px) and (min-width:1407px){

  
  .Primeiro_Bloco_Superior img{
    width: 100%;
    height: 550px;
  
  }
  
  .Segundo_Artico_Compras p{
  font-size: 150%;
  
}

.Segundo_Artico_Compras h3{
  font-size: 150%;
  
}

.Terceiro_Artico_Compras button {
  font-size: 150%;
}

.Terceiro_Artico_Compras h3{
  font-size: 150%;
  
}

.Terceiro_Artico_Compras p {
  font-size: 200%;
}

.Terceiro_Artico_Compras i {
  font-size: 500%;
}

}