body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

}

main{
  margin-top: 2%;
  width: 100%;
  box-sizing: border-box;
  
}

.slider{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 50px;
}

.slides{
  width: 400%;
  display:flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
 /* position: relative;*/
  transition: 2s;
}

.slide img{
  margin-top: 9px;
  padding: 0;
  width: 100%;
  height: 57%;

}

.label_nav{
  position: absolute;
  width: 100%;
  margin-top: -17%;
  display: flex;
  justify-content:center;
}

.label_btn{
  border: 2px solid #592B92;
  padding: 0.42%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.label_btn:not(:last-child){
  margin-right: 20px;

}

.label_btn:hover{
  background-color: #592B92;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.nav_auto div {
  margin-top: 9px;
  border: 2px solid #592B92;
  padding: 0.42%;
  border-radius: 10px;
  transition: 1s;

}

.nav_auto{
  position: absolute;
  width: 100%;
  margin-top: 23.6%;
  display: flex;
  justify-content: center;
}

.nav_auto div:not(:last-child){
  margin-right: 20px;

}

#radio1:checked ~ .nav_auto .auto_btn1{
  background-color: #592B92;
}

#radio2:checked ~ .nav_auto .auto_btn2{
  background-color: #592B92;
}

#radio3:checked ~ .nav_auto .auto_btn3{
  background-color: #592B92;
}

#radio4:checked ~ .nav_auto .auto_btn4{
  background-color: #592B92;
}

@media (max-width:794px){
 
  .slide img{
    margin-top: 17%;
    max-width: 100%;
    height: 50%;
    transition: 2s;
  }

  .nav_auto div {
    display: none;
  }

  .label_nav{
    display: none;
  }

}

@media  (max-width:741px){

  .slide img{
    margin-top: 20%;
    max-width: 100%;
    height: 50%;
    transition: 2s;
  }
 
  .nav_auto div {
    display: none;
  }

  .label_nav{
    display: none;
  }

}

@media (max-width:550px){
 
  .slide img{
    margin-top: 25%;
    max-width: 100%;
    height: 50%;
    transition: 2s;
  }

}