*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.containerDuvidas{
    width: 90%;
    margin: 5%;
    margin-top: -20%;
    padding: 2%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #592B92;
    border-radius: 10px;
}

.duvidasParagraph{
    padding: 2%;
    margin: 15px;
    padding-bottom: 4%;
    border: #592B92 solid 1.2px;
    background-color: rgb(235, 236, 230);
    box-shadow: 8px 8px 8px rgba(15, 15, 15, 0.392);
    border-radius: 10px;
    transition: background-color 1000ms;
    transition-delay:all 100000s;
}

.duvidasParagraph:hover{
    background-color: #c0add8;
    border:solid 2px #592B92;
}

.doubts{
    text-align: center;
    margin-top: 70px;
}