
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main_login{
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  background: #592B92;
  border-radius: 15px;
  flex-direction: column;
}

.block_form2 {
  background-color: rgb(235, 236, 230);
  width: 37%;
  height: 370px;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5px;
}

.makeLogin{
  margin-top: 2%;
  font-size: 200%;
  font-weight: 800;
  color: rgb(235, 236, 230);
}

.block_form1 h3,
.block_form2 h3 {
  margin-top: 7%;
  margin-bottom: 7%;
  font-family: 'Roboto', sans-serif;
  color: #592B92;
  font-weight: 900;
  font-size: 200%;
}

.block_form1 div label,
.block_form2 div label {
  margin-left: -65%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #592B92;
  font-weight: 900;
}

.block_form1 div input,
.block_form2 div input {
  display: block;
  width: 90%;
  height: 25px;
  margin-left: 5%;
  margin-bottom: 5px;
  font-size: 1em;
  border-top: rgb(232 249 248);
  border-left: rgb(232 249 248);
  border-right: rgb(232 249 248);
  border-bottom: solid #592B92;
  padding: 15 30px;
  
}

.block_form1  button,
.block_form2  button{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #592B92;
  color:rgb(232 249 248);
  transition: all 400ms;
}

.block_form1  button:hover,
.block_form2  button:hover{
  background-color: rgb(232 249 248);
  color: #592B92;
  border: #592B92 3px solid;
}

.clickHere{
  text-decoration: none;
  font-weight: 500;
  padding: 2px;
  margin: 15px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #592B92;
  color:rgb(232 249 248);
  transition: all 400ms;
}

.clickHere:hover{
  background-color: rgb(232 249 248);
  color: #592B92;
  border-bottom: #592B92 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.p_senha{
  margin-top: 3%;
}

.p_validation{
  color: #f71212;
}

@media (max-width:1500px) and (min-width:1076px) {
  .main_login{
    background-size: 100%;
    margin-bottom: 2%;
  }
}

@media (max-width:767px) and (min-width:195px) {
  .main_login{
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-size: 1370px;
    margin-bottom: 2%;
  }

  .block_form1 ,
  .block_form2 {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
  }
}


@media (max-width:3000px) and (min-width:1407px){
  .main_login{
    height: 800px;
  }

  .block_form1 ,
  .block_form2 {
    height: 490px;
  }

  .block_form1 h3,
  .block_form2 h3 {
    font-size: 150%;
  }

  .block_form1 div label,
  .block_form2 div label {
  margin-left: -72%;
  font-size: 120%;
  }

  .block_form1 div input,
  .block_form2 div input {
    height: 40px;
  }

  .block_form1  button,
  .block_form2  button{
    height: 40px;
    font-size: 120%;
  }

  .block_form1 p,
  .block_form2 p{
    font-size: 120%;
  }
}