main{
    margin-top: 5%;
    margin-left: 5%;
    padding: 45px;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    
    border: solid 10px #592B92;
    border-radius: 15px;
}

.userName{
    color: #592B92;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}

.userName:hover, .userName:focus{
    transform: translateX(10px) scale(1.4);
}
