<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven / Dúvias</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body_farmacia_carrossell.css">
    <link rel="stylesheet" href="/css/body_farmacia.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu_hamburguer.css">
    <link rel="stylesheet" href="/css/duvidas.css">
</head>

<!-- Header -->
<%- include('../partials/header') %>
<!-- /Header -->

<body>
   

    <main>

        <section class="containerDuvidas">

            <div class="duvidasParagraph">
                <h1>
                    Como receber meu produto em casa?
                </h1>
                <p>
                    Após confirmação de pagamento do pedido, o vendedor entrará em contato para combinar a forma de entrega.
                </p>
            </div>
            
            <div class="duvidasParagraph">
                <h1>
                    Como pagar a sua compra
                </h1>
                <p>
                    Pagar com o Mercado Pago é pagar com qualquer um destes meios. Sua compra estará 100%  garantida e  devolveremos seu dinheiro se o produto não for o que você esperava. 
    
                    As reservas de veículos são pagas via Mercado Pago. Assim, protegemos seu dinheiro até que você nos     confirme que já entregaram o veículo.
                </p>
            </div>
            
            <div class="duvidasParagraph">
                <h1>
                    O que faço se tiver uma cobrança que não reconheço na minha fatura do cartão?
                </h1>
                <p>
                    Se ao conferir os gastos do seu cartão você não reconhecer algum deles, recomendamos que confira a  seção Atividade. Nela, você encontra os pagamentos feitos com o Mercado Pago e poderá verificar se a     cobrança do cartão corresponde a alguma dessas transações. Observe o dia, hora e o valor do pagamento   para identificar a transação.
                
    
                    Não encontrou o gasto em Atividade?
                    Caso você não encontre o gasto em Atividade, alguma das seguintes situações pode ter acontecido:
    
    
                    Outra pessoa com acesso aos seus cartões, por exemplo, um familiar, fez uma transação pela sua conta    do Mercado             Livre ou Mercado Pago e usou seu cartão para pagar.
                    Você pagou com o Mercado Pago sem ter entrado na sua conta, por isso o gasto não aparece em     Atividade. Sugerimos            que você verifique sua caixa de e-mail e procure o e-mail de    confirmação de compra, considerando a data do gasto        que você não reconhece.
                    Se ainda assim você não encontrar o gasto em Atividade, entre em contato conosco para te ajudarmos.
                </p>
            </div>
            
            <div class="duvidasParagraph">
                <h1>
                    Qual o código de rastreio?
                </h1>
                <p>
                    Assim que confirmado o pagamento da compra, o vendedor enviará seu produto e na página minhas   compras, o código de rastreio estará disponível o quanto antes.
                </p>
            </div>
            
            <div class="duvidasParagraph">
                <h1>
                    Meu pedido não foi entregue. E agora?
                </h1>
                <p>
                    Para uma solução mais eficiente entre em contato como a nossa central de atendimento via telefone   (11) 3334-4890.
                </p>
            </div>

            <div class="doubts">
                <h1 >
                    Outras dúvidas entre em contato pelo telefone (11) 3334-4890 ou envie um email para <a href="mailto:atendimento@gruposeven.com.br">atendimento@gruposeven.com.br</a> 
                </h1>
            </div>

    </section>
    
</main>


   
</body>

<%- include("../partials/footer") %>
</html>