<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven / Politica de vendas</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carrossel.css">
    <link rel="stylesheet" href="/css/body_farmacia.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/duvidas.css">
</head>
 
<body>
  <%- include ("../partials/header") %>

  <main>
    <div class="duvidasParagraph2">
      <h1>
          Sobre Nossa Politica de vendas
      </h1>
      <p>
        O Grupo Seven é uma plataforma que permite ao internauta anunciar, comprar, pagar e vender produtos e serviços pela internet de forma muito prática. Em outras palavras, é um “shopping virtual” em que todos podem ser comerciantes, compradores e anunciantes ao mesmo tempo.
      </p>
  </div>
  </main>
  
</body>

<%- include("../partials/footer") %>

</html>