<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven / Quem somos</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/quemSomos.css">

</head>

<body>
   
    <%- include ("../partials/header") %>

        <div class="main">

            <div class="aboutUs">

                <div class="profile-card">
                    <div class="img">
                        <img src="/img/avatar.png">
                    </div>
    
                    <div class="caption">
                        <h3>Ayrton Bellon</h3>
                        <p>Grupo Seven CFO</p>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="profile-card">
                    <div class="img">
                        <img src="/img/avatar.png">
                    </div>
    
                    <div class="caption">
                        <h3>Douglas Ferreira</h3>
                        <p>Grupo Seven CEO</p>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>

<!---------------------------------VALORES, MISSÃO, VISÃO--------------------------------------->
            <div class="values">

                <div class="values-card">
                    <div class="values-title">
                        <h1 id="pValues">Valores</h1>
                    </div>

                    <div class="values-text">
                        <p>O consumidor, o produto e o entregador são o que valorizamos em nosso processo de compra e venda.</p>
                    </div>
                </div>

                <div class="values-card">
                    <div class="values-title">
                        <h1 id="pValues">Visão</h1>
                    </div>

                    <div class="values-text">
                        <p>Consolidar-se como serviço de entrega que possa trazer facilidade e confiabilidade ao consumidor.</p>
                    </div>
                </div>

                <div class="values-card">
                    <div class="values-title">
                        <h1 id="pValues">Missão</h1>
                    </div>

                    <div class="values-text">
                        <p>Que o produto almejado chegue ao consumidor de forma mais eficiente, efetiva e eficaz.</p>
                    </div>
                </div>

            </div>

        </div>

</body>

<%- include("../partials/footer") %>

</html>