<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo seven / área cliente</title>
  <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
  <!--esse script é gerado pelo fontawesome.com que gera icones -->

  <link rel="stylesheet" href="/css/formulario_header.css">
  <link rel="stylesheet" href="/css/menu_hamburguer.css">
</head>

<body>
  
  <%- include ("../partials/header") %>

  <section class="body_menu_hamburguer" ></section>
  <div class="menu_hamburguer" id="menu_hamburguer">
    
    <ul>
        <li class="lista_label_hambuerguer">
          Variedades
           <ul >
            <a href="variedades.html"> <li>Eletrônicos</li></a>
            <a href="variedades.html"> <li>Móveis</li></a>
            <a href="variedades.html"><li>Roupas</li></a>
           </ul>
        </li>

        <li class="lista_label_hambuerguer" >Espaço pet
            <ul >
              <a href="pet.html"> <li>Gatos</li></a>
              <a href="pet.html"><li>Cachorros</li></a>
              <a href="pet.html"><li>Diversos</li></a> 
            </ul>
        </li>

        <li class="lista_label_hambuerguer" >Farmácia
            <ul >
              <a href="farmacia.html"><li>Remédios</li></a>
              <a href="farmacia.html"><li>Beleza</li></a>
              <a href="farmacia.html"><li>Diversos</li></a>
            </ul>
        </li>

    </ul>

</div>

<main>
  <br>
  <h1>Olá <%= userLogged.username2 %> </h1>
  <h2>Seja bem vindo a sua página</h2><br>
  <a href="/usuarios/formularioEdit/<%= userLogged.cpf2  %>">Alterar Cadastro</a>
  <a href="/usuarios/logout"><button>Sair da conta</button></a>

  <section>
    <article>
      <p>Compras</p>
      <p>Favoritos</p>
      <p>Carinhos</p>
    </article>
  </section>

</main>
  
  
</body>


</html>