<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo seven / área cliente</title>
  <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
  <!--esse script é gerado pelo fontawesome.com que gera icones -->

  <link rel="stylesheet" href="/css/formulario_header.css">
  <link rel="stylesheet" href="/css/menu_hamburguer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/viewCliente.css">
  <link rel="stylesheet" href="/css/footer.css">
  

</head>

<body>
  
  <%- include ("../partials/header") %>

<main>
  
  <h1 class="welcome">Olá, <%= userLogged.username2 %> </h1>
  <h2>Seja bem vindo à sua página!</h2>
  <h2>A partir <a href="../body/">daqui</a> você pode cadastrar produtos para venda.</h2>
  <a href="/usuarios/formularioEdit/<%= userLogged.cpf2  %>">Alterar Cadastro</a>
  <a href="/usuarios/logout"><button>Sair da conta</button></a>

</main>
  
<%- include("../partials/footer") %>
</body>


</html>