<section class="slider"> <!--carrosel de imagens do site parte superior --------------------------------------------->
        
    <article class="slides"> 

        <!--inicio Radio buttons--------------------------------------------------------------------------------->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--fim Radio buttons------------------------------------------------------------------------------------->


        <!--inicio slide imagens---------------------------------------------------------------------------------->
        <div class="slide first">
            <img src="/img/imagem_carrossel_home.webp" alt="imagem 1">
        </div>

        <div class="slide">
          <img src="/img/carrosel-pet5.webp" alt="imagem 2">
        </div>

        <div class="slide">
          <img src="/img/carrossel_imagem3_farmacia.png" alt="imagem 3">
        </div>

        <div class="slide">
          <img src="/img/carrossell_imagem4_farmacia.png" alt="imagem 4">
        </div>
        <!--fim slide imagens--------------------------------------------------------------------------------------->


        <!-- inicio navegação automatica-deixa a bolinha fixa-------------------------------------------------------->
        <div class="nav_auto">

          <div class="auto_btn1"></div>
          <div class="auto_btn2"></div>
          <div class="auto_btn3"></div>
          <div class="auto_btn4"></div>
        </div>
        <!-- fim navegação automatica---------------------------------------------------------------------------->

    </article>
          
        <div class="label_nav">
          <label for="radio1" class="label_btn"></label>
          <label for="radio2" class="label_btn"></label>
          <label for="radio3" class="label_btn"></label>
          <label for="radio4" class="label_btn"></label>
        </div>

    
  </section>